{% extends "layout.njk" %}

{% set title = "Menu" %}

{% block content %}
<button class="btn btn-primary" id="cadastro">Cadastrar nova</button>


<h1 class="my-5 text-center">{{ title }}</h1>

<section class="card-deck">
  {% for food in foods %}
  <div class="col-sm-6 col-lg-4 col-xl-3 mb-3">
    <div class="card">
      <div class="card-header text-center font-weight-bold">
        {{ food.name }}
      </div>
      <div class="card-body p-0">
        <img src="{{ food.image }}" alt="{{ food.name }}" class="w-100">
      </div>
      <div class="card-footer text-right">
        {{ food.price }}
      </div>
    </div>
  </div>
  {% endfor %}
</section>
{% endblock %}

{% block script %}
<script type="text/javascript">
  const prices = document.querySelectorAll('.card-footer');
  prices.forEach((price) => {
    price.innerHTML = Intl.NumberFormat('pt-BR', {
      style: 'currency',
      currency: 'BRL',
    }).format(price.innerHTML)
  });
  const cadastro = document.querySelector('#cadastro');
  cadastro.addEventListener('click', () => {
    window.location = '/foods/create';
  });
</script>
{% endblock %}
